body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f7f8;
    color: #333;
    user-select: none;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:disabled {
    background-color: #ccc;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button {
    background-color: #ffc107;
}

input[type="text"], input[type="url"] {
    padding: 8px;
    width: 90%;
    margin: 5px 0;
}

#form-container {
    text-align: center;
}

/* Tema oscuro */

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container h1 {
    text-align: center;
    flex: 1;
}

.theme-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

body.dark-theme {
    background-color: #333;
    color: #f4f7f8;
}

.dark-theme .theme-toggle {
    filter: invert(100%);
}

.dark-theme .serviceUrl {
    filter: invert(100%);
}

.dark-theme h1 {
    background-color: #333;
    color: #f4f7f8;
}

.dark-theme th {
    background-color: #444;
    color: #f4f7f8;
}

.dark-theme tr:nth-child(even) {
    background-color: #555;
}

.dark-theme .button {
    background-color: #007bff;
}

.dark-theme .delete-button {
    background-color: #ff4c4c;
}

.dark-theme .edit-button {
    background-color: #ffc107;
}
